@media (min-width: 768px) {
  .letrasContacto {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .letrasContacto {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  .letrasContacto {
    font-size: 15px;
  }
}

