header.masthead {
 
  color: white;
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
/*
header.masthead .intro-text {
  padding-top: 190px;
  padding-bottom: 100px;
  padding-right:  400px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
 
  line-height: 10px;
  margin-bottom: 25px;
  font-family: 'Yantramanav', sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 25px;
  font-family: 'Quicksand' , sans-serif;
  text-shadow: 2px 2px 2px #424242;
}
*/
@media (min-width: 768px) {

  header.masthead  {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .intro-text {
    border-width: 40px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
  
    margin-top:130px;
    
  }

   .intro-heading {
   
    font-size: 40px;
    text-shadow: 2px 2px 2px #000000;
  
   
  }

.intro-lead-in {
   
    font-size: 25px;
    text-shadow: 2px 2px 2px #000000;
    
    padding-top:20px;
  }
}

@media (max-width: 768px) {

  header.masthead  {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  
}

  

  }

    @media (max-width: 321px) {

    header.masthead  {
    padding-top: 10px;
    padding-bottom: 110px;
  }

  .intro-text {
    border-width: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000000;
   
    margin-top:130px;
  }

.intro-lead-in {
   
    font-size: 15px;
    text-shadow: 2px 2px 2px #000000;
  
    padding-top:20px;
  }
  }






  /*
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    
    line-height: 70px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #000000;
   
    font-family: 'Yantramanav', sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 85px;
    margin-bottom: 50px;
    font-family: 'Quicksand' , sans-serif;
  } */
}


/*
@media (max-width: 426px) {
  header.masthead .intro-text {
    
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 29px ;
   }
  header.masthead .intro-text .intro-heading {
    font-size: 45px;
    }
}


@media (max-width: 376px) {
  header.masthead .intro-text {
    
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 25px ;
   }
  header.masthead .intro-text .intro-heading {
    font-size: 35px;
    }
}

@media (max-width: 430px) {


header .intro-text {

  margin-top:  50px;
}
 
  header.masthead .intro-text .intro-lead-in {
    font-size: 20px;
   
  
    text-shadow: 2px 2px 2px #000000;
   
    font-family: 'Yantramanav', sans-serif;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 2em;
    font-weight: 700;
    line-height: 85px;
   
    font-family: 'Quicksand' , sans-serif;
  }
}

*/