@font-face {
    font-family: "Yantramanav";
    src: url(Yantramanav-Regular.ttf) format("truetype");
}


@font-face {
    font-family: "Yantramanav";
    src: url(Quicksand-Regular.ttf) format("truetype");
}


